{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content-section">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col md-12 py-2">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-3">
                    <h5 class=" border-bottom pb-2">Assignments</h5>
                    <div class="list-group">
                        
                            <a href="{{ url_for('ass1', mentor=mentor.id) }}" class="list-group-item list-group-item-action list-group-item-info ">
                                {{ assignments[0].name }}
                            </a>
                            <a href="{{ url_for('ass2', mentor=mentor.id) }}" class="list-group-item list-group-item-action ">
                                {{ assignments[1].name }} </a>
                            <a href="{{ url_for('ass3', mentor=mentor.id) }}" class="list-group-item list-group-item-action disabled">
                                {{ assignments[2].name }}
                            </a>
                            <a href="{{ url_for('ass4', mentor=mentor.id) }}" class="list-group-item list-group-item-action  disabled">
                                    {{ assignments[3].name }}</a>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <h5 class=" border-bottom pb-2">Progress</h5>
                </div>
            
                <div class="col-md-3">
                    <h5 class=" border-bottom pb-2">Mentor info</h5>
                    <div class="card" >
                            <img src="{{ url_for('static', filename=mentor.image) }}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ mentor.name }}</h5>
                            <p class="card-text"> <strong>Job: </strong>{{ mentor.job }} </br> 
                                <strong>Education:</strong>{{ mentor.education }}</p>
                            <a href="{{ url_for('static', filename=mentor.linkedin) }}">
                                <img width="25px" src="{{ url_for('static', filename='linkedin.png') }}">
                            </a> 
                            
                            
                            </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
{% endblock %}