{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">

    <div class="text-center">
      <img src="{{ url_for('static', filename='LogoCropper.png') }}" height="125" alt="">
      <h1 class="display-3">Connect · Code · Empower</h1>
      <p>DzidzaCode is the most efficient way for Zimbabwean students to connect with a mentor and begin their computing journey.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Connect Now &raquo;</a></p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">

        <p>
          <img src="{{ url_for('static', filename='pic2.jpg') }}" height="250" alt="">
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <p>
          <img src="{{ url_for('static', filename='pic1.jpg') }}" height = "250" alt="">
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <p>
        <img src="{{ url_for('static', filename='pic3.jpg') }}" height="250" alt="">

        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <h2>Problem:</h2>
        <p>Many students in Zimbabwe don't have access to computers, </p>
      </div>
      <div class="col-md-4">
        <h2>Story:</h2>
        <p>Pelagia started a bootcamp at home in Zimbabwe, and realized the immense need for mentorship and coding curriculum for computer science students</p>
      </div>
      <div class="col-md-4">
        <h2>Solution:</h2>
        <p>We created DziDzaCode to help Zimbabwean students connect with a mentor, learn how to code, and find professional development resources for their future careers in Computuer Science. </p>

      </div>
    </div>
<!-- 
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>


    {% endfor %}  -->

{% endblock content %}