{% extends "layout.html" %}
{% block content %}
    <h1>To ensure a smooth learning path, it is always good to have a mentor by your side.</h1>
    <h2>Dzidza allows you to connect with Zimbabwean mentors from all around the world.</h3>
    <h2>Choose a mentor:</h2>

    <!-- {% for mentor in mentors %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
          <div class="media-body">

            <h2><a class="article-title">{{ mentor.name }}</a></h2>
            <h3><a class="article-title">{{ mentor.job }}</a></h3>
            <h3><a class="article-title">{{ mentor.education }}</a></h3>
            <p class="article-content">{{ mentor.description }}</p>
            <a href="#" class="btn btn-primary" role="button">Choose this mentor</a>

          </div>
        </article>
    {% endfor %} -->
{% endblock %}