{% extends "layout.html" %}
{% block content %}       
<div class="container">
    <div class="row">

        <div class="col-md-9  wow fadeInRight animated">
            <form method="post" class="contact-form" action="index.php">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="sender" id="sender" placeholder="Name">
                        <input type="email" class="form-control" name="senderEmail" id="senderEmail" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" name="message"id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                        <input type="submit" name="submit" class="btn btn-default submit-btn form_submit" placeholder="Subject">   
                    </div>

                </div>
            </form>


        </div>
    </div>
</div>